@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.cog-container {
	display: grid;
	grid-template-columns: 10% 15% 50% 15% 10%;
	grid-template-rows: 10% 15% 50% 15% 10%;
	position: relative;
	aspect-ratio: 1 / 1;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 1rem;
	max-width: 768px;
}

.start-game-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 1rem;
}

.droppable-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 5;
	gap: 2%;
	width: 100%;
	height: 100%;
	background-color: white;
	border: 2px solid brown;
	border-radius: 12%;
	overflow: hidden;
	z-index: 10;
}

.droppable {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 49%;
	height: 49%;
	background-color: rgba(165, 42, 42, 0.2);
}

.cog-top {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 3;
	grid-column-end: 3;
}

.cog-right {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 5;
	grid-column-end: 5;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.cog-bottom {
	grid-row-start: 5;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 3;
	rotate: 180deg;
}

.cog-left {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 1;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	rotate: 180deg;
}

.cog-top-edit {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 4;
	grid-column-end: 4;
}

.cog-right-edit {
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 5;
	grid-column-end: 5;
}

.cog-bottom-edit {
	grid-row-start: 5;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 2;
}

.cog-left-edit {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
}

.cog-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	background-color: rgba(165, 42, 42, 0.2);
	/* z-index: 1000; */
	width: 12vmin;
	aspect-ratio: 1 / 1;
	top: calc(50% - 6vmin);
	left: calc(50% - 6vmin);
	background-color: white;
	border-radius: 40%;
	z-index: 11;
}

.card-panel-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.cog-button {
	width: 10vmin;
	height: 10vmin;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.cog-img {
	width: 10vmin;
	height: 10vmin;
	background-color: transparent;
}

.draw-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
}

.word-card-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
	position:relative;
	aspect-ratio: 1 / 1;
	cursor: grab !important;
	touch-action: none;
}

.cog-container .word-card-wrapper {
	width: 98%;
}

.draw-container .word-card-wrapper {
	width: 49%;
}

.word-card {
	display: grid;
	/* aspect-ratio: 1 / 1; */
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 20% 60% 20%;
	/* text-align: center; */
	font-size: 3vmin;
	background-color: aqua;
	border-radius: 20%;
	transform: rotate(0turn);
	transition: transform 100ms;
	/* animation: fade-in 100ms; */
}

.word-card-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: transparent;
	cursor: default;
}

.cog-container .word-card,
.cog-container .word-card-placeholder {
	width: 90%;
	height: 90%;
}

.draw-container .word-card,
.draw-container .word-card-placeholder {
	width: 72%;
	height: 72%;
}

.card-word {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.card-top {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 2;
}

.card-left {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	rotate: 180deg;
}

.card-center {
	display: flex;
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 2;
	aspect-ratio: 1 / 1;
	background-color: white;
	border-radius: 10%;
}

.card-right {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 3;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.card-bottom {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 2;
	rotate: 180deg;
}

.key {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 5vmin;
	font-family: "Permanent Marker", cursive;
	cursor: pointer;
}

.key-placeholder:hover {
	background-color:lightgoldenrodyellow;
}

.key-placeholder {
	font-family: sans-serif;
	color: rgba(0, 0, 0, 0.3);
	font-style: italic;
}

.highlighted-key {
	background-color: cadetblue;
}

/* .key-input,
.key-input::placeholder {
	width: 100%;
	height: 100%;
	padding: 2vmin 0;
	text-align: center;
	font-size: 5vmin;
	border: none;
	background-color: transparent;
}
 */
.card-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	background-color: transparent;
	width: 17vmin;
	aspect-ratio: 1 / 1;
}

.card-button {
	width: 5vmin;
	height: 5vmin;
	margin: 2vmin;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.card-img {
	width: 5vmin;
	height: 5vmin;
	background-color: transparent;
}

.edit-key-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 3;
	background-color: lemonchiffon;
	font-size: 3vmin;
	padding: 5vmin;
	border: lightblue solid 2px;
	border-radius: 5vmin;
	box-shadow: lightblue 10px 10px 20px;
}
.edit-key-container input {
	width: 100%;
	height: 20%;
	font-family: "Permanent Marker", cursive;
	font-size: 4vmin;
	text-align: center;
}

.edit-key-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	width: 100%;
	flex-wrap: wrap;
}



.edit-key-buttons-container button {
	width: 40%;
	height: 100%;
	margin: 5%;
	border: none;
	cursor: pointer;
	font-size: 3vmin;
	color: white;
}

.cancel {
	background-color: red;
}

.submit {
	background-color: green;
}

.z-top {
	z-index: 1000;
}

.cog-save {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 5;
	grid-column-end: 5;
}

.cog-save button {
	height: 6vmin;
	margin: 0 2vmin;
	cursor: pointer;
}

.save-img {
	max-height: 100%;
}

.highlighted-error, .highlighted-error div{
	color: white;
	background-color: red;
}
