@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.cog-container, .solved-cog-container {
	display: grid;
	flex-shrink: 0;
	grid-template-columns: 10% 15% 50% 15% 10%;
	grid-template-rows: 10% 15% 50% 15% 10%;
	position: relative;
	aspect-ratio: 1 / 1;
	width: 100%;
	margin: 0 auto;
	padding: 2vmin;
	margin-bottom: 1rem;
	max-width: 768px;
	background-image: url('/background-cog.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.start-game-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 1rem;
}

.droppable-container, .solved-cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 5;
	gap: 2%;
	width: 100%;
	height: 100%;
	background-color: rgba(185,113,113, 0.7);
	border: 1vmin solid rgba(185,113,113, 0.7);
	border-radius: 12%;
	overflow: hidden;
	z-index: 10;
}

.droppable, .solved-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 49%;
	height: 49%;
	background-color: rgba(255, 255, 255, 0.3);
}

.cog-top {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 3;
	grid-column-end: 3;
}

.cog-right {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 5;
	grid-column-end: 5;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.cog-bottom {
	grid-row-start: 5;
	grid-row-end: 5;
	grid-column-start: 3;
	grid-column-end: 3;
	rotate: 180deg;
}

.cog-left {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 1;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	rotate: 180deg;
}

.cog-top-edit {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 4;
	grid-column-end: 4;
}

.cog-right-edit {
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 5;
	grid-column-end: 5;
}

.cog-bottom-edit {
	grid-row-start: 5;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 2;
}

.cog-left-edit {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
}

.cog-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	background-color: rgba(165, 42, 42, 0.2);
	width: 12vmin;
	aspect-ratio: 1 / 1;
	top: calc(50% - 6vmin);
	left: calc(50% - 6vmin);
	background-color: #b97171;
	border-radius: 40%;
	z-index: 11;
}

.card-panel-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.cog-button {
	width: 10vmin;
	height: 10vmin;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.cog-img {
	width: 10vmin;
	height: 10vmin;
	background-color: transparent;
}

.cog-img:hover {
	filter: brightness(120%);
	transform: scale(1.1);
}

.cog-img:active {
	outline: none;
	box-shadow: inset 0 0 5px #c1c1c1;
	transform: scale(0.9);
	brightness: 80%;
}

.draw-container-flex {
	flex-grow: 1;
	max-width: 768px;
	margin: 0 10vmin;
	background-color: theme('colors.beige.1');
	box-shadow: black 3px 3px 6px;
	border-radius: 8vmin 8vmin 0 0;
	border: theme('colors.rosegold.1') solid 1px;
}

.draw-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.word-card-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position:relative;
	aspect-ratio: 1 / 1;
	cursor: grab !important;
	touch-action: none;
}

.cog-container .word-card-wrapper {
	width: 98%;
}

.draw-container .word-card-wrapper {
	width: 50%;
}

.word-card {
	display: grid;
	/* aspect-ratio: 1 / 1; */
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 20% 60% 20%;
	/* text-align: center; */
	font-size: 3vmin;
	background-color: theme('colors.blue.2');
	color: theme('colors.beige.2');
	border-radius: 20%;
	transform: rotate(0turn);
	transition: transform 100ms;
	/* animation: fade-in 100ms; */
}

.word-card-placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: white;
	background-color: transparent;
	cursor: default;
}

.cog-container .word-card,
.cog-container .word-card-placeholder {
	width: 90%;
	height: 90%;
}

.draw-container .word-card,
.draw-container .word-card-placeholder {
	width: 80%;
	height: 80%;
}

.card-word {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.card-top {
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 2;
}

.card-left {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	rotate: 180deg;
}

.card-center {
	display: flex;
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 2;
	aspect-ratio: 1 / 1;
	background-color: theme('colors.rosegold.2');
	border-radius: 10%;
}

.card-right {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 3;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.card-bottom {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 2;
	rotate: 180deg;
}

.key {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 5vmin;
	font-family: "Permanent Marker", cursive;
	cursor: pointer;
}

.key-placeholder:hover {
	background-color: theme('colors.beige.1');
	opacity: 0.5;
}

.key-placeholder {
	font-family: sans-serif;
	color: theme('colors.rosegold.1');
	font-style: italic;
	background-color: unset;
}

.key-locked {
	cursor: not-allowed;
}

.key-locked key-placeholder:hover {
	background-color: unset;
}

.highlighted-key {
	background-color: theme('colors.rosegold.1') !important;
	color: theme('colors.beige.2');
}

.animate-key {
	background-color: unset;
	transition: background-color 500ms linear 100ms, color 500ms linear 100ms;
}

.card-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	background-color: transparent;
	width: 17vmin;
	aspect-ratio: 1 / 1;
}

.card-button {
	width: 5vmin;
	height: 5vmin;
	margin: 2vmin;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.card-img {
	width: 5vmin;
	height: 5vmin;
	background-color: transparent;
	border-radius: 50%;
}

.card-img:hover {
	filter: brightness(120%);
	transform: scale(1.1);
}

.card-img:active {
	outline: none;
	box-shadow: inset 0 0 5px #c1c1c1;
	transform: scale(0.9);
	brightness: 80%;
}

.edit-key-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 3;
	background-color: theme('colors.beige.2');
	font-size: 3vmin;
	padding: 5vmin;
	border: theme('colors.blue.2') solid 2px;
	border-radius: 5vmin;
	box-shadow: black 3px 3px 6px;
}

.edit-key-container label {
	font-weight: bold;
}

.edit-key-container input {
	width: 100%;
	height: 20%;
	font-family: "Permanent Marker", cursive;
	font-size: 4vmin;
	text-align: center;
	border: theme('colors.blue.1') solid 2px;
}

.edit-key-container input:hover {
	background-color: theme('colors.beige.1');
}

.edit-key-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	width: 100%;
	flex-wrap: wrap;
}

.edit-key-buttons-container button {
	width: 40%;
	height: 100%;
	margin: 5%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 3vmin;
	color: white;
}

.edit-key-buttons-container button:hover {
	filter: brightness(120%);
	transform: scale(1.1);
}

.edit-key-buttons-container button:active {
	outline: none;
	box-shadow: inset 0 0 5px #c1c1c1;
	transform: scale(0.9);
	brightness: 80%;
}

.cancel {
	background-color: theme('colors.rosegold.1');
}

.submit {
	background-color: theme('colors.blue.2');
}

.z-top {
	z-index: 1000;
}

.cog-exit, .cog-save {
	display: flex;
	align-items: center;
	grid-row-start: 1;
	grid-row-end: 1;
}

.cog-exit {
	justify-content: flex-start;
	grid-column-start: 1;
	grid-column-end: 3;
}

.cog-save {
	justify-content: flex-end;
	grid-column-start: 4;
	grid-column-end: 6;
}

.save-button, .exit-button {
	width: 6vmin;
	margin: 0;
	border-radius: 50px;
	border: 2px solid red;
	background-color: theme('colors.yellow.2');
	color: #fff;
	cursor: pointer;
	transition: width 500ms 300ms, background-color 500ms 300ms;
}

.save-button:hover, .save-button:active, .exit-button:hover, .exit-button:active {
	width: 100%;
	background-color: theme('colors.yellow.3');
	transition: width 500ms, background-color 500ms 300ms;
}

.save-img, .exit-img {
	opacity: 1;
	transition: opacity 500ms 300ms;
}

.save-button:hover .save-img, .exit-button:hover .exit-img,.save-button:active .save-img, .exit-button:active .exit-img {
	opacity: 0;
	transition: opacity 500ms;
}

.save-img:active, .exit-img:active {
	outline: none;
	box-shadow: inset 0 0 5px #c1c1c1;
	transform: scale(0.9);
	brightness: 80%;
}

.save-button .button-text, .exit-button .button-text {
	opacity: 0;
	transition: opacity 500ms;
	position: absolute;
	font-size: 4vmin;
	color: theme('colors.rosegold.1');
	text-decoration: underline;
}

.exit-button .button-text {
	left: 5vmin;
	top: 4vmin;
}

.save-button .button-text {
	right: 5vmin;
	top: 4vmin;
}

.save-button:hover .button-text, .exit-button:hover .button-text,.save-button:active .button-text, .exit-button:active .button-text {
	opacity: 1;
	transition: opacity 500ms 300ms;
}

.highlighted-error, .highlighted-error div {
	color: theme('colors.blue.2');
	background-color: theme('colors.yellow.3');
}

.waiting-overlay-container {
	min-height: 36vmin;
}

.solved-cog-container .key {
	font-size: 3vmin;
}

.solved-cog-container .word-card-wrapper {
	width: 90%;
	height: 90%;
	cursor: unset !important;
}

.solved-cards-container .word-card {
	width: 100%;
	height: 100%;
	font-size: 2vmin;
}

.incorrect-card {
	background-color: theme('colors.rosegold.1');
	filter: brightness(120%);
}

.card-img-incorrect:hover {
	filter: unset;
	transform: unset;
}

.solved-cog-container * {
	cursor: not-allowed;
}
