/* Home */

.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	height: 100%;
	width: 100%;
	padding: 2rem;
}

/* Login */

.error {
	min-height: 1.25rem;
}

/* GamePanel */

.game-panel {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: 100%;
	max-width: 768px;
	margin: 1vmin auto;
	padding: 0 2vmin;
}

.game-panel-title {
	font-size: 5vmin;
	font-weight: bold;
	text-align: center;
}
