/* Home */

.home-container {
	padding: 2rem;
}

.home-container p {
	margin: 1rem 0;
}

.home-container a {
	color: theme('colors.blue.2');
	text-decoration: underline;
}

.home-container a:hover {
	color: theme('colors.blue.1');
}

.home-container img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

.home-container img.small-img {
	width: 20%;
	max-width: 100px;
	margin: 0 auto;
}

/* Login */

.error {
	min-height: 1.25rem;
}

/* GamePanel */

.game-panel {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	width: 100%;
	max-width: 768px;
	margin: 1vmin auto;
	padding: 0 2vmin;
}

.game-panel-title {
	font-size: 5vmin;
	font-weight: bold;
	text-align: center;
}
