.game-panel {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 768px;
	margin: 0 auto;
}

.game-panel button {
	height: 6vmin;
	margin: 0 2vmin;
}

.exit-img {
	max-height: 100%;
}